
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    font-family: sans-serif;
    background: #053F66;
    color: #9AD1F7;
}

table {
    width: 100%;
    text-align: left;
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #4382AF;
    line-height: 1.5;
}

th {
    padding: 10px 20px;
    font-weight: normal;
    background: #000;
}
th:last-child {
    text-align: right;
    width: 40%;
    white-space: nowrap;
}

td {
    padding: 10px 20px;
    border-top: 1px solid #4382AF;
}

tr {
    padding: 0;
}

@media screen and (min-width: 768px) {

    body {
        font-size: 18px;
    }
}

header {
    padding: 50px 20px;
    background: #0364A5;
}

header.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header.hero-captain-america {
    background-image: url('../imgs/hero_cap-america.png');
}
header.hero-xmen {
    background-image: url('../imgs/hero_xmen.png');
}
header.hero-batman {
    background-image: url('../imgs/hero_batman.png');
}

main {
    padding-bottom: 2rem;
}

h1 {
    color: #FFF;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h3 {
    font-size: 20px;
    color: #9AD1F7;
}

h1, h3, p {
    margin: 0;
}

p {
    padding: 5px 0 5px 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: .5em;
}

ul ul {
    list-style-type: square;
    padding: 0 0 0 1em;
    margin: 0 0 1.5rem 1.5rem;
}

.index li {
  padding: 10px 20px;
  border-top: 1px solid #4382AF;
  color: #9AD1F7;
}
